/*
#EBF5EE
#78A1BB
#283044
#171B27
*/

body{
    margin: 0;
    padding: 0;
}

.navbar{
    background-color: #283044;
    padding: 1.5rem;
}

.footer{
    background-color: #171B27;
    padding: 1.5rem;
}

.links{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.link{
    text-decoration: none;
    color: white;
    margin-right: 1rem;
}