<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Chat</title>
</head>
<body>
    <form id="login">
        <input type="email" name="email">
        <input type="password" name="password" id="">
        <button>Iniciar sesión</button>
    </form>

    <div id="messages"></div>
    <form id="send_form">
        <input type="text" name="message" placeholder="Message...">
        <button>Send</button>
    </form>



    <script>
        const sendForm = document.getElementById("send_form")
        const loginForm = document.getElementById("login")
        const url = 'ws://'+window.location.host+'/ws/chat/11'
        const chatWebSocket = new WebSocket(url)

        chatWebSocket.onmessage = function (e){
            const data = JSON.parse(e.data)
            if(data.event==="message_sent"){
                console.log(data)
            }
        }

        chatWebSocket.onclose = function (error){
            console.log(error)
            console.log("Connection lost unexpectedly")
        }

        sendForm.onsubmit = function (event){
            event.preventDefault()
            const message = event.target.message.value

            if(message){
                chatWebSocket.send(JSON.stringify({message,action: "send_message"}))
                event.target.message.value = ""
            }
        }

        loginForm.onsubmit = function (event){
            event.preventDefault()

            const email = event.target.email.value
            const password = event.target.password.value

            fetch("/api/auth/login/",{
                method:"POST",
                body: JSON.stringify({
                    email,
                    password
                }),
                headers:{
                    "Content-Type":"application/json"
                }
            })
                .then(response=>response.json())
                .then(data=>{
                    console.log(data)
                })
        }

    </script>
</body>
</html>